*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

button,
a,
input,
textarea{
  min-width: 44px;
  min-height: 44px;
}